openapi: 3.1.0
info:
  title: MUWE OpenAPI
  version: 0.2.0
  description: Partner-facing Upay-compatible payment API contract for MUWE Mexico.
servers:
  - url: https://vsi-api.shouqianba.com
    description: Upay-compatible API host
security:
  - UpaySignature: []
tags:
  - name: Terminal
  - name: Transactions
paths:
  /terminal/activate:
    post:
      summary: Activate a terminal
      operationId: activateTerminal
      tags: [Terminal]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateRequest'
      responses:
        '200':
          description: Terminal activation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalCredentialResponse'
  /terminal/checkin:
    post:
      summary: Rotate terminal key
      operationId: checkinTerminal
      tags: [Terminal]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
      responses:
        '200':
          description: Terminal check-in response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalCredentialResponse'
  /terminal/uploadLog:
    post:
      summary: Upload terminal diagnostics
      operationId: uploadTerminalLog
      tags: [Terminal]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogUploadRequest'
      responses:
        '200':
          description: Log upload response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /upay/v2/pay:
    post:
      summary: Create a barcode payment
      operationId: createBarcodePayment
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRequest'
      responses:
        '200':
          description: Payment response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /upay/v2/precreate:
    post:
      summary: Pre-create a QR payment order
      operationId: precreatePayment
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrecreateRequest'
      responses:
        '200':
          description: Pre-create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /upay/v2/query:
    post:
      summary: Query a transaction
      operationId: queryTransaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /upay/v2/refund:
    post:
      summary: Refund a transaction
      operationId: refundTransaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '200':
          description: Refund response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /upay/v2/cancel:
    post:
      summary: Cancel a transaction
      operationId: cancelTransaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderLookupRequest'
      responses:
        '200':
          description: Cancel response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
  /upay/v2/revoke:
    post:
      summary: Revoke a transaction
      operationId: revokeTransaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderLookupRequest'
      responses:
        '200':
          description: Revoke response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
components:
  securitySchemes:
    UpaySignature:
      type: apiKey
      in: header
      name: Authorization
      description: '`Authorization: <sn> <MD5(raw_utf8_body + key)>`'
  schemas:
    ActivateRequest:
      type: object
      required: [app_id, code, device_id]
      properties:
        app_id:
          type: string
        code:
          type: string
        client_sn:
          type: string
          maxLength: 32
        name:
          type: string
        device_id:
          type: string
        os_info:
          type: string
    CheckinRequest:
      type: object
      required: [terminal_sn, device_id]
      properties:
        terminal_sn:
          type: string
          maxLength: 32
        device_id:
          type: string
        os_info:
          type: string
        sdk_version:
          type: string
    LogUploadRequest:
      type: object
      required: [terminal_sn, device_id, log_type, content]
      properties:
        terminal_sn:
          type: string
          maxLength: 32
        device_id:
          type: string
        log_type:
          type: string
        content:
          type: string
        occurred_at:
          type: string
    PayRequest:
      type: object
      required: [terminal_sn, client_sn, total_amount, dynamic_id, subject, operator]
      properties:
        terminal_sn:
          type: string
          maxLength: 32
        client_sn:
          type: string
          maxLength: 32
        total_amount:
          type: string
          maxLength: 10
          description: Amount in cents.
        payway:
          type: string
        dynamic_id:
          type: string
          maxLength: 32
        subject:
          type: string
          maxLength: 64
        operator:
          type: string
          maxLength: 32
        description:
          type: string
          maxLength: 255
        longitude:
          type: string
        latitude:
          type: string
        device_id:
          type: string
          maxLength: 32
        extended:
          $ref: '#/components/schemas/ExtendedFields'
        goods_details:
          type: array
          items:
            $ref: '#/components/schemas/GoodsDetail'
        reflect:
          type: string
          maxLength: 64
        notify_url:
          type: string
          maxLength: 128
    PrecreateRequest:
      allOf:
        - $ref: '#/components/schemas/PayRequest'
        - type: object
          required: [payway]
          properties:
            sub_payway:
              type: string
            payer_uid:
              type: string
              maxLength: 64
    QueryRequest:
      allOf:
        - $ref: '#/components/schemas/OrderLookupRequest'
        - type: object
          properties:
            refund_request_no:
              type: string
              maxLength: 20
    RefundRequest:
      allOf:
        - $ref: '#/components/schemas/OrderLookupRequest'
        - type: object
          required: [refund_request_no, refund_amount, operator]
          properties:
            refund_request_no:
              type: string
              maxLength: 20
            refund_amount:
              type: string
              maxLength: 10
              description: Refund amount in cents.
            operator:
              type: string
              maxLength: 32
            extended:
              $ref: '#/components/schemas/ExtendedFields'
            goods_details:
              type: array
              items:
                $ref: '#/components/schemas/GoodsDetail'
    OrderLookupRequest:
      type: object
      required: [terminal_sn]
      anyOf:
        - required: [sn]
        - required: [client_sn]
      properties:
        terminal_sn:
          type: string
          maxLength: 32
        sn:
          type: string
          maxLength: 16
        client_sn:
          type: string
          maxLength: 32
    ExtendedFields:
      type: object
      maxProperties: 24
      additionalProperties:
        type: string
        maxLength: 256
    GoodsDetail:
      type: object
      required: [goods_id, goods_name, quantity, price, promotion_type]
      properties:
        goods_id:
          type: string
          maxLength: 32
        goods_name:
          type: string
          maxLength: 32
        quantity:
          type: integer
          maximum: 9999999999
        price:
          type: integer
          maximum: 999999999
          description: Unit price in cents.
        promotion_type:
          type: integer
          enum: [0, 1]
    CommonResponse:
      type: object
      required: [result_code]
      properties:
        result_code:
          type: string
          enum: ['200', '400', '500']
        error_code:
          type: string
        error_message:
          type: string
        biz_response:
          type: object
          additionalProperties: true
    TerminalCredentialResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            biz_response:
              type: object
              required: [terminal_sn, terminal_key]
              properties:
                terminal_sn:
                  type: string
                terminal_key:
                  type: string
    TransactionResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - type: object
          properties:
            biz_response:
              type: object
              properties:
                result_code:
                  $ref: '#/components/schemas/BusinessResultCode'
                error_code:
                  type: string
                error_message:
                  type: string
                data:
                  $ref: '#/components/schemas/TransactionData'
    BusinessResultCode:
      type: string
      enum:
        - PAY_SUCCESS
        - PAY_FAIL
        - PAY_IN_PROGRESS
        - PAY_FAIL_ERROR
        - PRECREATE_SUCCESS
        - PRECREATE_FAIL
        - SUCCESS
        - REFUND_SUCCESS
        - REFUND_ERROR
        - CANCEL_SUCCESS
        - CANCEL_ERROR
        - CANCEL_ABORT_SUCCESS
        - CANCEL_ABORT_ERROR
    TransactionData:
      type: object
      properties:
        terminal_sn:
          type: string
        sn:
          type: string
        client_sn:
          type: string
        client_tsn:
          type: string
        trade_no:
          type: string
        status:
          type: string
          enum: [SUCCESS, FAIL_CANCELED, FAIL_ERROR, IN_PROG, ERROR_RECOVERY, PRE_SUCCESS]
        order_status:
          type: string
          enum:
            - CREATED
            - PAID
            - PAY_CANCELED
            - REFUNDED
            - PARTIAL_REFUNDED
            - REFUND_INPROGRESS
            - REFUND_ERROR
            - CANCELED
            - CANCEL_INPROGRESS
            - CANCEL_ERROR
            - INVALID_STATUS_CODE
            - PAY_ERROR
        payway:
          type: string
        payway_name:
          type: string
        sub_payway:
          type: string
        payer_uid:
          type: string
        payer_login:
          type: string
        total_amount:
          type: string
        net_amount:
          type: string
        subject:
          type: string
        description:
          type: string
        finish_time:
          type: string
        channel_finish_time:
          type: string
        operator:
          type: string
        reflect:
          type: string
        qr_code:
          type: string
        wap_pay_request:
          type: string
        payment_list:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              amount_total:
                type: string
